@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color: #111827;
  background-color: #f3f4f6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
